AUTOMACAO_INVEST/WORKFLOW/agente_gerente.json
{
  "name": "agente_gerente",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "284047ba-65ea-42f0-b0f2-98acb470e3e5",
      "name": "Telegram Trigger",
      "webhookId": "0a1ed07f-c526-41bc-a498-ee45ad65ebb2",
      "credentials": {
        "telegramApi": {
          "id": "j9kCsp3VOfo3Luiq",
          "name": "invest_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "197d471f-c885-4b7b-8f3f-49da4b806466",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        0
      ],
      "id": "7d6ad45d-f4e3-45b2-aff9-83dd10b61532",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        144
      ],
      "id": "78e38026-e239-4283-8519-c0ee530873a6",
      "name": "Get a file",
      "webhookId": "90559a3b-426b-4c6c-b9b7-9a7ab1a796dc",
      "credentials": {
        "telegramApi": {
          "id": "j9kCsp3VOfo3Luiq",
          "name": "invest_bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        816,
        144
      ],
      "id": "d22238b9-dc10-43f5-998b-d650c1ab4449",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "It9mz2g1zaMqvVuF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d2cf720-ca61-4051-8ef6-18f8c9525035",
              "name": "mensagem",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        144
      ],
      "id": "00f1d227-86ea-41e9-9065-2bf49bbe5df9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "547c477e-22ff-42a0-a398-e98037a6555d",
              "name": "messagem",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -128
      ],
      "id": "0953257a-1d8d-46ee-a6a7-41429da6aa36",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messagem }}",
        "options": {
          "systemMessage": "\n\nIdentidade\nVocê é a Sofia, Gerente de Atendimento da Hashtag Capital. Sua função é identificar a necessidade do cliente e delegar para o especialista correto.\n\nRegras de Atuação\nSaudação Pura: Se o usuário disser apenas \"Oi\", \"Olá\" ou \"Bom dia\", responda: \"Olá! Sou a Sofia, Gerente da Hashtag Capital. Posso te ajudar com Assuntos Financeiros, Dúvidas de Mercado ou Agendamento com Assessor. Como posso te ajudar hoje?\"\n\nDistribuição: - Assuntos de boletos/pagamentos -> AgenteFinanceiro\n\nDúvidas teóricas (O que é X?) -> AgenteSuporte\n\nInvestir/Agendar/Falar com assessor/Rentabilidade -> AgenteCS\n\nFidelidade: Repita EXATAMENTE o que a ferramenta retornar. Não adicione \"Aqui está sua resposta\" nem nada do tipo.\n\nTratamento de Transbordo (CRÍTICO)\nSe uma ferramenta retornar ##RESET##, significa que o assunto não é dela.\n\nSe o AgenteSuporte ou AgenteFinanceiro derem reset, direcione a mensagem IMEDIATAMENTE para o AgenteCS (ele é o seu braço direito para tudo que não for técnico ou financeiro).\n\nSe o AgenteCS também der reset, aí sim você responde: \"Desculpe, poderia detalhar melhor seu pedido para que eu te direcione ao consultor correto?\"\n\nRegra de Texto\nNunca use negrito ou itálico.\n\nSeja invisível: o cliente deve achar que está falando direto com o especialista após a sua primeira mediação."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1360,
        -128
      ],
      "id": "6fd28b88-310c-47be-9c3f-e159da8cf4ba",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1456,
        240
      ],
      "id": "4e988e97-94cc-48b8-b3f1-a33965b5e183",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Agente Financeiro:\n\nEspecialista em Financeiro. Use para boletos, 2a via, regularização de pagamento.\n",
        "workflowId": {
          "__rl": true,
          "value": "sweg5XU3kG_pVTzMoonce",
          "mode": "list",
          "cachedResultUrl": "/workflow/sweg5XU3kG_pVTzMoonce",
          "cachedResultName": "agente_financeiro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $json.messagem }}",
            "ChatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1504,
        400
      ],
      "id": "eebbbbc5-bb8c-4987-a6f6-b9af7d6b542e",
      "name": "Call 'agente_financeiro'"
    },
    {
      "parameters": {
        "description": "Agente Suporte:\n\nEspecialista Técnico e Tutor. Use para dúvidas técnicas\n",
        "workflowId": {
          "__rl": true,
          "value": "EkWhv_QC-XpwyEKjziWAL",
          "mode": "list",
          "cachedResultUrl": "/workflow/EkWhv_QC-XpwyEKjziWAL",
          "cachedResultName": "agente_suporte"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $json.messagem }}",
            "ChatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1504,
        80
      ],
      "id": "c831466b-6037-45f0-82e1-9871bb2ed75b",
      "name": "Call 'agente_suporte'"
    },
    {
      "parameters": {
        "description": "\nAgente CS:\n\nEspecialista em Sucesso do Cliente. Use para agendamentos e dúvidas institucionais.\n",
        "workflowId": {
          "__rl": true,
          "value": "4sv9wpQ1N5xwlJYhsR1xx",
          "mode": "list",
          "cachedResultUrl": "/workflow/4sv9wpQ1N5xwlJYhsR1xx",
          "cachedResultName": "agente_cs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $json.messagem }}",
            "ChatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1504,
        688
      ],
      "id": "ffc18446-1456-45b9-9851-1524ced9e92c",
      "name": "Call 'agente_cs'"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        -128
      ],
      "id": "55999eb3-8ee4-4ac2-a7e9-1d5a4dd08b78",
      "name": "Send a text message",
      "webhookId": "41b1cc32-5faa-4a78-8a88-ac6867a5cfae",
      "credentials": {
        "telegramApi": {
          "id": "j9kCsp3VOfo3Luiq",
          "name": "invest_bot"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1360,
        80
      ],
      "id": "4f7496ff-539b-450e-814b-6e4c4550774b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "It9mz2g1zaMqvVuF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'agente_financeiro'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'agente_suporte'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'agente_cs'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "605f70ad-5747-413a-959c-648809365dda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e296ee6a99e8f5bceb9e43bea4aeeac8639a8b5a8d32feba4b2e6246a9236a6"
  },
  "id": "2FjesWpsqDA61lZYTSVks",
  "tags": []
}