AUTOMACAO_INVEST/WORKFLOW/agente_cs.json
{
  "name": "agente_cs",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensagem"
            },
            {
              "name": "ChatID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "7018244f-cf03-43c5-bcf6-3f01b4494491",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=Identidade\nVocê é o Arthur, Customer Success da Hashtag Capital. Seu tom é: Profissional, sofisticado, proativo e atencioso (🤝, 📈).\n\nContexto Temporal\nA data e hora exata de hoje é: {{ $now }}. Use esta data EXATA como referência para agendar reuniões.\n\nSUAS RESPONSABILIDADES\nAgendamento: Marcar reuniões de revisão de carteira ou novos aportes.\n\nQualificação (Triagem): Entender o foco do cliente (Proteção vs Rentabilidade).\n\nFluxo de Conversa\nFASE 1: Triagem (Qualificação)\nSe o cliente demonstrar intenção de investir ou agendar, pergunte:\n\nCom certeza! Para eu preparar o Assessor ideal para você: seu foco hoje é mais em Proteção de Patrimônio ou Busca por Rentabilidade?\n\nFASE 2: Protocolo de Agendamento (Ferramenta agendar_reuniao)\nIMPORTANTE: Se o usuário responder \"Rentabilidade\", \"Proteção\" ou qualquer variação disso, você NÃO deve resetar. Você deve avançar imediatamente:\n\nAgradeça a resposta.\n\nPeça os dados: Nome, E-mail, Data e Hora desejada para a reunião.\n\nAssim que ele enviar os dados, use a ferramenta agendar_reuniao.\n\nConfirmação Final: Perfeito! Reunião confirmada. Enviei o invite para seu e-mail. Nosso Assessor Sênior estará pronto para montar sua estratégia. [Link da Videochamada]\n\nREGRA DE TEXTO (CRÍTICO)\nVocê está em um chat simples que quebra se receber códigos.\n\nEscreva como se fosse um bloco de notas simples.\n\nNUNCA use negrito, itálico, asteriscos ou códigos de formatação (como ** ou __).\n\nRegra de Saída (Reset)\nApenas responda ##RESET## se o assunto for EXCLUSIVAMENTE sobre:\n\nPagamentos, boletos ou financeiro (Bia).\n\nExplicações teóricas profundas como O que é Selic ou O que é CDB (Leo). NÃO dê reset se o cliente estiver respondendo à sua pergunta de triagem sobre rentabilidade ou proteção.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "e2296951-26fa-492d-b9e6-ff6f382263a9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        176
      ],
      "id": "5c030459-3513-4cf4-ab0a-ea4b490a24da",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "It9mz2g1zaMqvVuF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.ChatID }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        416
      ],
      "id": "ebf74ee4-55c8-41b9-baaa-78ffed2fc3b3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "igccsouza@gmail.com",
          "mode": "list",
          "cachedResultName": "igccsouza@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `use a data e a hora que o cliente escolher. caso ja esteja com algum evento, avise o cliente para escolher outra e avise que está ocupada`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `uma hora após o horario escolhido pelo cliente`, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `o email que o cliente informou para ser convidado para a reunião`, 'string') }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "sendUpdates": "all",
          "summary": "Acessoria com o Igor"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "7515be3e-8b75-4b62-8dcc-4fa77ff7e3c8",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SvT4NO2LiPmN5N6H",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fcee4ae4-3653-4175-abd1-0b6fa8352dc3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e296ee6a99e8f5bceb9e43bea4aeeac8639a8b5a8d32feba4b2e6246a9236a6"
  },
  "id": "4sv9wpQ1N5xwlJYhsR1xx",
  "tags": []
}